/node_modules
/public/hot
/public/storage
/public/char_images/*
/public/uploads/*
/public/user_images/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!/public/char_images/default.png
!/public/user_images/default.png
