a.disabled {
    color: #777777;
    pointer-events: none;
    cursor: default;
}

.navbar-brand {
    font-weight: 700;
    font-size: 22px;
}

.navbar-brand img {
    height: 70px;
}

.clear-border {
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.clear-border-textarea {
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.label-emphasis {
    font-weight: bold;
}
